[Desktop Entry]
Name=LCE Emerald Launcher
Comment=FOSS cross-platform launcher for Minecraft Legacy Console Edition
Exec=lce-emerald-launcher
Icon=io.github.LCE_Emerald_Launcher.LCE_Emerald_Launcher
Type=Application
Categories=Game;